# 🐍 Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# 🧪 Тесты и кэш
*.cover
coverage.*
.cache
pytest_cache/

# 📦 Виртуалки и зависимости
env/
venv/
.venv/
.poetry/

# 🛠 IDE и редакторы
.idea/
*.iml

# 🔐 Секреты
.env
.env.*

# 🧹 Остальное
*.log
*.tmp
*.bak
.DS_Store
Thumbs.db