*.pyc
__pycache__/
*.log
venv/
env/
.env/
.venv/
.poetry/
staticfiles/
.cache/
pytest_cache/
celerybeat-schedule
celerybeat.pid
.env
.env.*
docker-compose.override.yml
**/migrations/__pycache__/
.idea/
