{% extends 'base.html' %}
{% block title %}Типы посылок{% endblock %}
{% block content %}
    <h2>Типы посылок</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
            </tr>
        </thead>
        <tbody>
            {% for type in types %}
                <tr>
                    <td>{{ type.id }}</td>
                    <td>{{ type.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}